<section id="page5">
<div class="container">
        <div class="header-part5">
            <h2>Share your setup with</h2>
            <h1>#FuniroFurniture</h1>
        </div>
        <div class="image-grid-part5">
            <img src="/img/p5p1.png" alt="p5p1" class="p5p1">
            <img src="/img/p5p2.png" alt="p5p2" class="p5p2">
            <img src="/img/p5p3.png" alt="p5p3" class="p5p3">
            <img src="/img/p5p4.png" alt="p5p4" class="p5p4">
            <img src="/img/p5p5.png" alt="p5p4" class="p5p5">
            <img src="/img/p5p6.png" alt="p5p6" class="p5p6">
            <img src="/img/p5p7.png" alt="p5p7" class="p5p7">
            <img src="/img/p5p8.png" alt="p5p8" class="p5p8">
            <img src="/img/p5p9.png" alt="p5p9" class="p5p9">
        </div>
    </div>
</section>