<section class="hero">
  <nav class="navbar">
    <div class="logo">
      <img src="../img/logo.png" alt="Furniro Logo" />
      <span>Furniro</span>
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="nav-icons">
      <a href="#"
        ><img
          src="https://cdn-icons-png.flaticon.com/128/17701/17701943.png"
          alt="User Icon"
      /></a>
      <a href="#"
        ><img
          src="https://cdn-icons-png.flaticon.com/128/54/54481.png"
          alt="Search Icon"
      /></a>
      <a href="#"
        ><img
          src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png"
          alt="Wishlist Icon"
      /></a>
      <a href="#"
        ><img
          src="https://cdn-icons-png.flaticon.com/128/40/40368.png"
          alt="Cart Icon"
      /></a>
    </div>
  </nav>
  <div class="hero-text">
    <div class="hero-text-section">
      <h4>New Arrival</h4>
      <h1>Discover Our New Collection</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
        luctus nec ullamcorper mattis.
      </p>
      <a href="#" class="btn">BUY NOW</a>
    </div>
  </div>
</section>
