
    <div id="browse_range">
        <h1>Browse The Range</h1>
        <div class="P2">
            <div class="P2_item">
                <img src="/img/p2_dining.png" alt="Dining Room">
                <p>Dining</p>
            </div>
            <div class="P2_item">
                <img src="/img/p2_living.png" alt="Living Room">
                <p>Living</p>
            </div>
            <div class="P2_item">
                <img src="/img/p2_dining.png" alt="Bed Room">
                <p>Bed</p>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3">
            <img src="/img/p2_dining.png" class="img-fluid" alt="Image 1">
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <img src="/img/p2_dining.png" class="img-fluid" alt="Image 2">
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <img src="/img/p2_dining.png" class="img-fluid" alt="Image 3">
          </div>
        </div>
      </div>
       -->