<meta name="viewport" content="width=device-width, initial-scale=1.0">

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="company-info">
                <h2><b>Funiro.</b></h2><br>
                <address>
                    <p style="opacity: 0.5;">
                        400 University Drive Suite 200 Coral <br> Gables,<br>
                        FL 33134 USA
                    </p>
                </address>
            </div>

            
            <div class="footer-links">
                <h3><p style="opacity: 0.25;">Links</p></h3><br>
                <ul>
                    <li><a href="#"><b>Home</b></a></li><br><br>
                    <li><a href="#"><b>Shop</b></a></li><br><br>
                    <li><a href="#"><b>About</b></a></li><br><br>
                    <li><a href="#"><b>Contact</b></a></li>
                </ul>
            </div>

            
            <div class="footer-links">
                <h3><p style="opacity: 0.25;">Help</p></h3><br>
                <ul>
                    <li><a href="#"><b>Payment Options</b></a></li><br><br>
                    <li><a href="#"><b>Returns</b></a></li><br><br>
                    <li><a href="#"><b>Privacy Policies</b></a></li>
                </ul>
            </div>

            
            <div class="newsletter">
                <h3><p style="opacity: 0.25;">Newsletter </p></h3>
                <form>
                    <div style="display: flex; align-items: center;">
                        <p style="display: inline-block; border-bottom: 1px solid gray; padding-bottom: 3px; margin-right: 10px; opacity: 0.5;">Enter Your Email Address</p>
                        <span style="display: inline-block; border-bottom: 1px solid gray; padding-bottom: 3px; color: black; opacity: 1; cursor: pointer;">SUBSCRIBE</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="copyright">
            <p>2023 furino. All rights reserved</p>
        </div>
    </div> 
</footer>
